@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::selection {
  background: rgba(230, 30, 93, 0.15);
}

/* Mobile menu open state */
details[open] summary svg.menu-icon {
  display: none;
}
